.eap-countries-widget {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    .map-container {
        position: relative;
        .country-modal {
            opacity: 0;
            display: none;
            position: absolute;
            background-color: #E1DDD6;
            border: 8px solid #344A86;
            z-index: 1000;
            padding: 12px;

            .modal-title {
                display: flex;
                justify-content: start;
                align-items: center;
                min-width: 156px;
                p {
                    margin: 0;
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-left: 8px
                }
            }
        }
    }

    .eap-countries-widget-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        .eap-countries-widget-item {
            &.active {
                background-color: #eee;
            };

            display: flex;
            justify-content: start;
            align-items: center;
            background-color: #E1DDD6;
            min-width: 10vw;
            .eap-countries-widget-item-flag {
                width: 32px;
                height: 32px;
                align-items: center;
                display: flex;
                margin: 0 8px;
            }
            .eap-countries-widget-item-content {
                p {
                    margin: 0;
                }
            }
        }
    }
}

#countries {
     path {
         &.active {
             fill: #0A1A3D;
         }
     }
}

