.eap-countries-widget {
    display: flex;
    flex-flow: row;
    align-content: center;
    position: relative;
    .map-container {
    }

    .eap-countries-widget-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        .eap-countries-widget-item {
            &.active {
                background-color: #eee;
            };

            display: flex;
            justify-content: center;
            .eap-countries-widget-item-flag {
                width: 20%;
                align-items: end;
                padding: 0 5px
            }
        }
    }
}

#countries {
     path {
         &.active {
             fill: #0A1A3D;
         }
     }
}

.country-modal {
    display: none;
    position: fixed;
    background-color: #eee;
    border: 5px solid #0A1A3D;
    z-index: 1000;

    .modal-flag {
        width: 100px;
        img {
            width: 100%;
        }
    }
}